<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body {
            background-image: linear-gradient(to right, #96deda  , #f0d1e5);
        }
        </style>
        
</head>
<body>
    <div style="margin-left:20%;margin-top:10%;width:60%;margin-right:20%;text-align:center;" class="container">
        <h1><strong>Mksh URL Shortner</h1>
        {% block content %}
        {% endblock %}
       
    </div>
     
    <h6 style="left:35%;width:30%;text-align:center;position:fixed;bottom:0;">Made by<strong> Moksh Sharma</strong></h6>

                
        
</body>
</html>
